@import './main.scss';

#contentBox-5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	h2,
	p {
		width: 100%;
		text-align: left;
		align-self: flex-start;
	}
	h2 {
		font-family: $ff-bold;
	}
	ul {
		width: 100%;
		padding: 0;
		display: grid;
		list-style-type: none;
	}
	li p {
		text-align: right;
		font-family: $ff-bold;
	}
}
#contentBox-6 {
	display: flex;
	align-items: center;
	justify-content: center;

	ul {
		padding: 0rem 1rem;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $ff-bold;
		text-align: right;
	}
	img {
		height: 2.5rem;
	}
}
