@import './main.scss';

#contentBox-1 {
	display: flex;
	justify-content: space-between;
	h2 {
		flex-basis: 50%;
		font-family: $ff-bold;
	}
	p {
		flex-basis: 50%;
		align-self: end;
		text-align: right;
	}
}

#contentBox-2 {
	display: flex;
	align-items: center;
	justify-content: center;

	ul {
		padding: 0rem 1rem;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $ff-bold;
		text-align: right;
	}
	img {
		height: 2.5rem;
	}
}
