@import './main.scss';

#contentBox-3 {
	ul {
		padding: 0rem 1rem;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $ff-bold;
	}
	img {
		height: 2.5rem;
	}
}
#contentBox-4 {
	display: flex;
	flex-wrap: wrap;
	p {
		text-align: center;
	}
}
